# generate: 2024-02-17 11:49:23
extends cpp.template
extends algo
extends datetime
extends graph
extends mod
extends monoid
extends num
extends poly
extends range
extends seq
extends set
extends string
