# mise用の設定ファイル
# ~/.config/mise/config.toml

[tools]
node = "24"
python = "3.11"


[env]
_.path = [
  "/opt/homebrew/bin",
  "/home/linuxbrew/.linuxbrew/bin"
]


[tasks.tool-install]
description="mise経由でツール(言語)を入れます"
run="""
mise install
"""

# =======================
# Macのアプリ開く系
# =======================
[tasks.app]
description="AppをFZFで開く"
run="""
type fzf > /dev/null 2>&1 || brew install fzf
open -a "$(ls /Applications | fzf)"
"""

# =======================
# 開発系
# =======================
[tasks.docker-compose-run]
description="DockerCompose起動"
run="""
docker compose up -d --build --remove-orphans
docker image prune -f
"""

[tasks.docker-compose-down]
description="DockerCompose終了"
run="""
docker compose down --rmi all
"""

[tasks.lazydocker]
description="Docker操作"
run="""
type lazydocker > /dev/null 2>&1 || brew install lazydocker
CNT=$(ps aux | grep -c OrbStack)
if [ $CNT -eq 1 ]; then
    open -g /Applications/OrbStack.app
    sleep 1
    type genact > /dev/null 2>&1 || brew install genact
    genact -s 10 --exit-after-modules 1 -m botnet
    genact -s 10 --exit-after-modules 1 -m bruteforce
fi
lazydocker
"""

[tasks.lazysql]
description="RDBMS操作"
run="""
type lazysql > /dev/null 2>&1 || brew install lazysql
lazysql
"""

[tasks.ssh]
description="SSH接続"
run="""
type gum > /dev/null 2>&1 || brew install gum
if [ ! -f ~/.ssh/known_hosts ]; then
    ssh $(gum input --prompt 'target. e.g.) github.com: ')
else
    ssh $(cat ~/.ssh/known_hosts | awk '{print $1}' | uniq | gum choose)
fi
"""

[tasks.scp]
description="SCP接続"
run="""
type termscp > /dev/null 2>&1 || brew install veeso/termscp/termscp
termscp
"""

# TODO Command Line Toolsのバージョンが古くてinstallに失敗
[tasks.sqly]
description="SQLのようにデータを扱う"
run="""
type sqly > /dev/null 2>&1 || brew install nao1215/tap/sqly
echo '.import {csv等のファイルパス}'
sqly
"""

[tasks.hwatch]
description="watchコマンド"
run="""
type hwatch > /dev/null 2>&1 || brew install hwatch
echo 'use like'
echo '$ hwatch ls -l'
"""

[tasks.top]
description="PCの稼働状況"
run="""
type btm > /dev/null 2>&1 || brew install bottom
btm --battery
"""

[tasks.df]
description="ディスク容量の管理"
run="""
type duf > /dev/null 2>&1 || brew install duf
duf --all
"""

[tasks.ffmpeg]
description="Gifの作成"
run="""
type ffmpeg > /dev/null 2>&1 || brew install ffmpeg
type gum > /dev/null 2>&1 || brew install gum
ffmpeg -i $(ls -A | gum choose) -r 10 $(gum input --prompt 'e.g.) test.gif: ')
"""

# =======================
# GUI系
# =======================
[tasks.fastfetch]
description="OS情報"
run="""
type fastfetch > /dev/null 2>&1 || brew install fastfetch
fastfetch
"""

[tasks.animation]
description="アニメーション"
run="""
type genact > /dev/null 2>&1 || brew install genact
genact -s 10 --exit-after-modules 1 -m botnet
genact -s 10 --exit-after-modules 1 -m bruteforce
type cmatrix > /dev/null 2>&1 || brew install cmatrix
cmatrix
"""

[tasks.clock]
description="時計"
run="""
type tty-clock > /dev/null 2>&1 || brew install tty-clock
tty-clock -sSx
"""

[tasks.dummy]
description="なにもしない。やっぱやめたいだけ。"
run="""
:
"""

[tasks.Azathoth]
description="全てのコマンドを破壊"
# 入れているbrewのメモ
run="""
type gum > /dev/null 2>&1 || brew install gum
if ! gum confirm; then
    return
fi
brew list
DEL=(
mise gum zoxide fzf bat eza yazi
lazygit lazydocker lazysql
termscp bottom duf ffmpeg
fastfetch genact cmatrix tty-clock
zsh-syntax-highlighting zsh-autosuggestions powerlevel10k
jq nmap gobuster
)
for v in ${DEL[@]}; do
    brew uninstall $v 2>/dev/null
done
"""


