# =========================================================
# template
# =========================================================
snippet main "main" b
/** ฅ^>ω<^ฅ author: serna37
	generated: `date "+%Y-%m-%d %H:%M:%S"` */
#ifdef LOCAL
#include <bits/debug.hpp>
#else
#define debug(...)
#endif
#include <bits/stdc++.h>
using namespace std;
int main() {
	ios::sync_with_stdio(false);
	cin.tie(nullptr);
	${1}
}
endsnippet
snippet debug "debug" b
debug(${1});
endsnippet

